@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white;
  }
  .glow {
    text-shadow: 0 0 10px rgba(79, 209, 197, 0.7);
  }
}

@layer utilities {
  html {
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #1A202C;
  }
  ::-webkit-scrollbar-thumb {
    background: #4FD1C5;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #38B2AC;
  }
}